@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

@rendermode @(new InteractiveWebAssemblyRenderMode(false))


<h3>Lobby</h3>

@code {

	private HubConnection? HubConnection;

	protected override async Task OnInitializedAsync()
	{
		HubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
			.Build();


		await HubConnection.StartAsync();
	}

}
